.chart-chart-img {
    max-width: 500px;
    width: 100%;
}

.nav-col{
    padding-bottom: 20px;
}

.hd-top{
    /*  */
}

.bg-semi-black{
    
}

@media only screen and (max-width: 1000px) {
    .hd-top {
        margin-top: 200px !important;
        background: rgba(21, 0, 80, 0.8) !important;
        padding: 10px;
        border-radius: 10px;
    }

    .card {
        min-width: 300px !important;
    }
    
    .quote-panel {
        margin-top: 10px !important;
        padding: 5em !important;
    }
    .quote-img{
        margin-bottom: -150px;
        min-height: 200px;
    }

    .chart-per {
        min-height: 300px !important;
    }

    .team-boxed {
        margin-top: 80px;
    }

  }

  @media only screen and (max-width: 770px) {
    .pe-sec {
        min-height: 1600px;
        padding: auto;
    }
    
    .pe-container {
        margin-bottom: 100px;
    }

    .pe-sec-card {
        min-width: 300px;
        max-width: 350px;
    }
 
    .chart-per {
        min-height: 500px !important;
    }

  }
