.chart-chart-img {
    max-width: 500px;
    width: 100%;
}

.quote-panel {
    margin-top: -120px;
}

.hd-top{
    /*  */
}

.bg-semi-black{
    
}
.chart-col {
    min-height: 150px;
    min-width: 200px;
}

.card-fmt{
    max-width: 300px !important;
}


.start-content {
    text-align  : left !important;
    height: 360px;
}
@media only screen and (min-width: 1400px) {
    .start-content {
        height: 280px;
    }
}

@media only screen and (max-width: 1000px) {

    .card-fmt{
        max-width: 250px;
    }
    .hd-top {
        margin-top: 200px !important;
        background: rgba(21, 0, 80, 0.8) !important;
        padding: 10px;
        border-radius: 10px;
    }

    .start-content {
        height: 360px;
    }

    .card {
        min-width: 300px !important;
    }
    
    .quote-panel {
        margin: 0 auto;
        padding: 1em;
        align-items: center;
        display: flex;
    }
    .quote-img{
        margin-bottom: -150px;
        min-height: 200px;
    }

    .chart-per {
        min-height: 300px !important;
    }

    .team-boxed {
        margin-top: 80px;
    }

  }

  @media only screen and (max-width: 770px) {
    .pe-sec {
        min-height: 1600px;
        padding: auto;
    }
    
    .pe-container {
        margin-bottom: 100px;
        align-items: center;
        display: flex;
    }

    .pe-sec-card {
        min-width: 300px;
        max-width: 350px;
    }
 
    .chart-per {
        min-height: 500px !important;
    }

  }
